:root {
  --primary-color: #2892d7;        
  --secondary-color: #1d70a2;      
  --accent1-color: #1b4353;        
  --accent2-color: #173753;        
  --heading-font: "Merriweather", serif;
  --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.2em;
    color: #1b4353;
    background: #1d70a2;
}

header {
    margin: 1rem;
    width: 600px;
}

h1 {
    margin: 1rem;
    font-size: 2em;
    color: #1b4353;
    text-align: center;
}

form {
    width: 600;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #1b4353;
    border-radius: 0.5rem;
    background-color: aliceblue;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px #2892d7;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #173753;
    font-size: 1.3em;
}

label, input, button, select, textarea {
  font-family: sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}